In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

import cleaning_utils as cl

# Importation

In [3]:
[og_clients, og_products, og_sales] = cl.imports_csv('RAW', ['clients', 'produits', 'ventes'])

In [4]:
clients, products, sales = og_clients, og_products, og_sales

# Checking missing values

In [5]:
cl.check_columns(clients)
cl.check_columns(products)
cl.check_columns(sales)

No missing values in the dataframe
No missing values in the dataframe
No missing values in the dataframe

# Inspecting `products`

In [6]:
products.describe()

             price        categ
count  3287.000000  3287.000000
mean     21.856641     0.370246
std      29.847908     0.615387
min      -1.000000     0.000000
25%       6.990000     0.000000
50%      13.060000     0.000000
75%      22.990000     1.000000
max     300.000000     2.000000

**On the `price` column, there is a price at -1 so we need to inspect those**

In [7]:
products[products['price'] < 0]

    id_prod  price  categ
731     T_0   -1.0      0

In [8]:
sales[sales['id_prod'] == 'T_0']

       id_prod                             date session_id client_id
1431       T_0  test_2021-03-01 02:30:02.237420        s_0      ct_1
2365       T_0  test_2021-03-01 02:30:02.237446        s_0      ct_1
2895       T_0  test_2021-03-01 02:30:02.237414        s_0      ct_1
5955       T_0  test_2021-03-01 02:30:02.237441        s_0      ct_0
7283       T_0  test_2021-03-01 02:30:02.237434        s_0      ct_1
...        ...                              ...        ...       ...
332594     T_0  test_2021-03-01 02:30:02.237445        s_0      ct_0
332705     T_0  test_2021-03-01 02:30:02.237423        s_0      ct_1
332730     T_0  test_2021-03-01 02:30:02.237421        s_0      ct_1
333442     T_0  test_2021-03-01 02:30:02.237431        s_0      ct_1
335279     T_0  test_2021-03-01 02:30:02.237430        s_0      ct_0

[200 rows x 4 columns]

In [9]:
sales[(sales['client_id'] == 'ct_0') | (sales['client_id'] == 'ct_1')]

       id_prod                             date session_id client_id
1431       T_0  test_2021-03-01 02:30:02.237420        s_0      ct_1
2365       T_0  test_2021-03-01 02:30:02.237446        s_0      ct_1
2895       T_0  test_2021-03-01 02:30:02.237414        s_0      ct_1
5955       T_0  test_2021-03-01 02:30:02.237441        s_0      ct_0
7283       T_0  test_2021-03-01 02:30:02.237434        s_0      ct_1
...        ...                              ...        ...       ...
332594     T_0  test_2021-03-01 02:30:02.237445        s_0      ct_0
332705     T_0  test_2021-03-01 02:30:02.237423        s_0      ct_1
332730     T_0  test_2021-03-01 02:30:02.237421        s_0      ct_1
333442     T_0  test_2021-03-01 02:30:02.237431        s_0      ct_1
335279     T_0  test_2021-03-01 02:30:02.237430        s_0      ct_0

[200 rows x 4 columns]

**The -1 price is associated with a `T_0` product.**

**In the `sales` table, this product is linked to a test date so we can conclude it's a test account and remove it from the dataframes.**

# Checking unicity of `client_id` in `clients` and `id_prod` in `products`

In [10]:
clients['client_id'].is_unique

True

In [11]:
products['id_prod'].is_unique

True

# Checking categorical values : `sex` and `categ`

In [12]:
print(clients['sex'].unique())

['f' 'm']

In [13]:
print(products['categ'].unique())

[0 1 2]

# Applying all the cleaning needed to the dataframes

In [14]:
cleaned_clients, cleaned_sales, cleaned_products = cl.cleaning_global(clients, sales, products)

# Merging `clients` to `products` through the `sales` table

In [16]:
fusion = cl.merging(cleaned_clients, cleaned_products, cleaned_sales)

# Export dataframes to csv

In [17]:
cl.export_csv([cleaned_clients, cleaned_sales, cleaned_products, fusion], 'CURATED', ['clients', 'ventes', 'produits', 'fusion'])