In [208]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [209]:
import pandas as pd

import cleaning_utils as cl

Here we import the csv files into the DataFrames

In [210]:
[og_clients, og_products, og_sales] = cl.imports_csv('RAW', ['clients', 'produits', 'ventes'])

In [211]:
clients, products, sales = og_clients, og_products, og_sales

In [212]:
cl.check_columns(clients)
cl.check_columns(products)
cl.check_columns(sales)

No missing values in the dataframe
No missing values in the dataframe
No missing values in the dataframe

In [213]:
products.describe()

             price        categ
count  3287.000000  3287.000000
mean     21.856641     0.370246
std      29.847908     0.615387
min      -1.000000     0.000000
25%       6.990000     0.000000
50%      13.060000     0.000000
75%      22.990000     1.000000
max     300.000000     2.000000

In [214]:
products[products['price'] < 0]

    id_prod  price  categ
731     T_0   -1.0      0

In [215]:
sales[sales['id_prod'] == 'T_0']

       id_prod                             date session_id client_id
1431       T_0  test_2021-03-01 02:30:02.237420        s_0      ct_1
2365       T_0  test_2021-03-01 02:30:02.237446        s_0      ct_1
2895       T_0  test_2021-03-01 02:30:02.237414        s_0      ct_1
5955       T_0  test_2021-03-01 02:30:02.237441        s_0      ct_0
7283       T_0  test_2021-03-01 02:30:02.237434        s_0      ct_1
...        ...                              ...        ...       ...
332594     T_0  test_2021-03-01 02:30:02.237445        s_0      ct_0
332705     T_0  test_2021-03-01 02:30:02.237423        s_0      ct_1
332730     T_0  test_2021-03-01 02:30:02.237421        s_0      ct_1
333442     T_0  test_2021-03-01 02:30:02.237431        s_0      ct_1
335279     T_0  test_2021-03-01 02:30:02.237430        s_0      ct_0

[200 rows x 4 columns]

In [216]:
sales[(sales['client_id'] == 'ct_0') | (sales['client_id'] == 'ct_1')]

       id_prod                             date session_id client_id
1431       T_0  test_2021-03-01 02:30:02.237420        s_0      ct_1
2365       T_0  test_2021-03-01 02:30:02.237446        s_0      ct_1
2895       T_0  test_2021-03-01 02:30:02.237414        s_0      ct_1
5955       T_0  test_2021-03-01 02:30:02.237441        s_0      ct_0
7283       T_0  test_2021-03-01 02:30:02.237434        s_0      ct_1
...        ...                              ...        ...       ...
332594     T_0  test_2021-03-01 02:30:02.237445        s_0      ct_0
332705     T_0  test_2021-03-01 02:30:02.237423        s_0      ct_1
332730     T_0  test_2021-03-01 02:30:02.237421        s_0      ct_1
333442     T_0  test_2021-03-01 02:30:02.237431        s_0      ct_1
335279     T_0  test_2021-03-01 02:30:02.237430        s_0      ct_0

[200 rows x 4 columns]

In [217]:
clients['client_id'].is_unique

True

In [218]:
products['id_prod'].is_unique

True

In [219]:
print(clients['sex'].unique())

['f' 'm']

In [220]:
print(products['categ'].unique())

[0 1 2]

In [221]:
cleaned_clients, cleaned_sales, cleaned_products = cl.cleaning_global(clients, sales, products)

In [222]:
cleaned_sales['date'] = pd.to_datetime(cleaned_sales['date'])

In [ ]:
cl.export_csv([cleaned_clients, cleaned_sales, cleaned_products], 'CURATED', ['clients', 'produits', 'ventes'])